<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales>
            <autoinvoice>
                <cron_active>1</cron_active>
                <cron_schedule>0 * * * *</cron_schedule>
            </autoinvoice>
        </sales>
    </default>
</config>
