<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	
	<preference for="Aune\AutoInvoice\Api\InvoiceProcessInterface"
	    type="Aune\AutoInvoice\Model\InvoiceProcess" />
	
	<preference for="Aune\AutoInvoice\Api\Data\InvoiceProcessItemInterface"
	    type="Aune\AutoInvoice\Model\InvoiceProcessItem" />
	
	<!-- Console commands -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ProcessCommand" xsi:type="object">Aune\AutoInvoice\Console\ProcessCommand</item>
            </argument>
        </arguments>
    </type>
    
</config>
