<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales">
            <group id="autoinvoice" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Auto invoice</label>
                <field id="cron_active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Schedule procedure</label>
                    <comment>Automatically invoice orders every hour</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="processing_rules" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Processing Rules</label>
                    <frontend_model>Aune\AutoInvoice\Block\Adminhtml\Form\Field\ProcessingRule</frontend_model>
                    <backend_model>Aune\AutoInvoice\Model\Adminhtml\System\Config\ProcessingRule</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
